
.background-color-main{
    -fx-background-color: #3D676A
}

.background-color-header{
    -fx-background-color: linear-gradient(#245656, #3D676A);
}

.background-color-exponential{
    -fx-background-color: linear-gradient(#0d2525, #3D676A);
}

.background-color-white{
    -fx-background-color: white;
}


.text-style {

}



