
.background-color-main{
    -fx-background-color: #3D676A;
}

.background-color-footer{
    -fx-background-color: #3D676A;
    /*-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #63a4ff, #ffffff); */
}

.graph-image{
    -fx-border-radius: 50px;
}


